/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.home-header{
  color: $yellow;
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-home{
  background-color: $gray-lighter;
}
