<div class="wrapper home-header">
  <div class="container">
    <div class = "row">
      <div class = "col-xs-12 col-sm-12">
      <h1>THE ARGONAUTES</h1>
      <p>Explore the world, discover new friends.</p>
      <%= image_tag("logo.png", height: 100, width: 100) %>
      </div>
    </div>
  </div>
</div>

<div class="wrapper search-bar-home">
  <div class="container">
    <div class = "row">
      <div class = "col-xs-12 col-sm-12">
       <div class="form-home">
          <form action = "events" method = "get" >
            <select name="category">
              <option value="fishing">Fishing</option>
              <option value="opera" selected>Opera</option>
              <option value="food">Food</option>
            </select>
            <input type="text" placeholder ="Where?" name="address_city">
           <input type="text" placeholder ="When?" name="time_start">
           <input type="submit" value="Search" class="btn btn-search">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/event_search', { events: @events } %>
