<div class="wrapper home-header">
  <div class="container">
    <div class = "row">
      <div class = "col-xs-12 col-sm-12">
      <h1>Goldfish</h1>
      <p>Explore the world, discover new friends.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper search-bar-home">
  <div class="container">
    <div class = "row">
      <div class = "col-xs-12 col-sm-12">
        <form action = "events" method = "get" >
          <input type="text" placeholder ="What?">
          <input type="text" placeholder ="When?">
          <input type="text" placeholder ="Where?">
          <input type="submit" value="Search" class="btn btn-info">
        </form>
      </div>
    </div>
  </div>
</div>


<%= render 'shared/event_search' %>
