.search-bar-home{
  text-align: center;
  padding: 10px 0px;
  //background-color: $gray-lighter;
  text-size: 10px;
  margin-bottom: 10px;
  color: $black;

  .form-home{
    background-color: $gray-lighter;
    border-radius: 10px;
    padding: 5px;
  }
}

